<%- include('partials/header-admin.ejs') %>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <i class="fa-solid fa-newspaper"></i>
                <h2><a href="/admin/login">Lumyun<span style="font-weight: 300;">News</span></a></h2>
            </div>
            <div class="user-account">
                <div class="user-account-info">
                    <i class="fa-solid fa-user"></i>
                    <a href="/admin/profile" title="Perfil"><span><%=login.split(' ')[0]%></span></a>
                </div>
                <div class="user-account-actions">
                    <a href="logout">
                        <i class="fa-solid fa-sign-out-alt"></i>
                        <span>Sair</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section class="apresentation">
        <h1>Posts Para Revisão</h1>
    </section>
    <main>
        <div class="center">
            <div class="posts-to-review">
                <% let counter = 0 %>
                <% for(let i = 0; i < posts.length; i++) { %>
                    <div class="box-last-single">
                        <div class="image-container">
                            <img src="<%= posts[i].image %>">
                        </div>
                        <div class="content-last-single">
                            <h3>
                                <%= posts[i].category %>
                            </h3>
                            <h2>
                                <%= posts[i].title %>
                            </h2>
                            <p>
                                <%= posts[i].description %>
                            </p>
                            <a href="<%= posts[i].slug %>">VER NOTICIA</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    <%- include('partials/navbar.ejs') %>
</body>