<%- include('partials/header-admin.ejs') %>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <i class="fa-solid fa-newspaper"></i>
                <h2><a href="/admin/login">Lumyun<span style="font-weight: 300;">News</span></a></h2>
            </div>
            <div class="user-account">
                <div class="user-account-info">
                    <i class="fa-solid fa-user"></i>
                    <a href="/admin/profile" title="Perfil"><span><%=login.split(' ')[0]%></span></a>
                </div>
                <div class="user-account-actions">
                    <a href="logout">
                        <i class="fa-solid fa-sign-out-alt"></i>
                        <span>Sair</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="center">
            <div class="make-post-container">
                <div class="make-post">
                    <div class="image-container">
                        <img src="../../public/images/create.png"/>
                    </div>
                    <div class="make-post-content">
                        <h2>Crie uma notícia</h2>
                        <a href="/admin/make-post/new">Criar noticia</a>
                    </div>
                </div>
                <% for(let i = 0; i < posts.length; i++) { %>
                    <div class="make-post">
                        <div class="image-container">
                            <img src="<%=posts[i].image%>"/>
                        </div>
                        <div class="make-post-content">
                            <h2>Editar noticia</h2>
                            <h3><%=posts[i].title%></h3>
                            <a href="/admin/make-post/<%=posts[i].slug%>">Editar noticia</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    <%- include('partials/navbar.ejs') %>
</body>