<%- include('partials/header.ejs') %>
<br>
</br>
<div class="center">
    <div style="width: 100%;" class="most-read">
        <h3>Resultados obtidos: <%= counter %></h3>
        <div class="most-read-news">
            <% for(let i = 0; i < posts.length; i++) { %>
            <div class="most-read-news-single">
                <img src="<%= posts[i].image %> ">
                <div class="text-most-read-news-single">
                    <h4><%= posts[i].title %> </h4>
                    <p><%= posts[i].description %></p>
                    <a href="<%= posts[i].slug %> ">SAIBA MAIS</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>