<%- include('partials/header.ejs') %>
    <section class="new">
        <div class="center">
            <div class="new-single">
                <h1>
                    <%= post.title %>
                </h1>
                <p><span>categoria:</span> <%= post.category %> </p>
                <div class="author">
                    <i class="fa-solid fa-user"></i>
                    <span>POR <%= post.author %></span>
                </div>
                <div class="image-container-single">
                    <img src="<%= post.image %>">
                </div>
                <%- post.content %>
            </div>
            <%- include('partials/most_read.ejs') %>
        </div>
    </section>
<%- include('partials/footer.ejs') %>